<div id="accordion" class="accordion">
  <div class="accordion__item">
    <div class="accordion__header">TITLE 1</div>
    <div class="accordion__body">
      <div class="accordion__content">CONTENT 1</div>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header">TITLE 2</div>
    <div class="accordion__body">
      <div class="accordion__content">CONTENT 2</div>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header">TITLE 3</div>
    <div class="accordion__body">
      <div class="accordion__content">CONTENT 3</div>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header">TITLE 4</div>
    <div class="accordion__body">
      <div class="accordion__content">CONTENT 4</div>
    </div>
  </div>
</div>
