<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__item">
        <div class="footer__logo">
          <a href="#" class="footer__logo__link">
            <img src="assets/images/footer/footer-logo.svg" alt="logo" />
          </a>
        </div>
        <nav class="footer__nav">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">Главная</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Экскурсии</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Личный кабинет</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item footer__item__next">
        <div class="footer__contacts">
          <a href="tel:+79649441874" class="footer__contact">
            <svg width="19" height="19">
              <use href="assets/images/footer/viber.svg#viber"></use>
            </svg>
            <span> +7 964 944 18 74</span>
          </a>
          <a href="https://web.telegram.org/z/" class="footer__contact">
            <svg width="19" height="19" class="telegram__svg">
              <use href="assets/images/footer/telegram.svg#telegram"></use></svg
            ><span>+7 918 919 98 28</span>
          </a>
          <a href="https://web.telegram.org/z/" class="footer__contact">
            <svg width="19" height="19" class="telegram__svg">
              <use href="assets/images/footer/telegram.svg#telegram"></use>
            </svg>
            <span>Телеграм-бот PeroTravel</span>
          </a>
        </div>
        <div class="footer__social">
          <a href="mailto:office@perotravel.ru" class="footer__contact footer__contact__it">
            <svg width="19" height="19">
              <use href="assets/images/footer/mail.svg#mail"></use>
            </svg>
            <span>office@perotravel.ru</span>
          </a>
          <div class="footer__social__row">
            <a href="#" class="social__link social__link__vk">
              <svg width="27" height="18">
                <use href="assets/images/icons/vk.svg#vk"></use>
              </svg>
            </a>
            <a href="#" class="social__link social__link__insta">
              <svg width="28" height="28">
                <use href="assets/images/icons/insta.svg#insta"></use>
              </svg>
            </a>
            <a href="#" class="social__link social__link__facebook">
              <svg width="15" height="28">
                <use href="assets/images/icons/facebook.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
