<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__logo">
        <a href="#" class="header__logo__link">
          <img src="assets/images/logo.svg" alt="logo" />
        </a>
      </div>
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="" class="menu__link">Главная</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Экскурсии</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Личный кабинет</a>
          </li>
        </ul>
      </nav>
      <div class="menu__icon">
        <span></span>
      </div>
    </div>
  </div>
</header>
